syntax: glob

*.pyc
*.swp
data
build
dist
*.rpm
*.log
virt_*/*
django_rdrf.egg-info*
^docs/_static
^docs/_build
^docs/_templates
build-number.txt
tests*.xml
*komodo*
.ccgplatform
.idea
.gitignore
.version
*#
*~
flycheck_*
*.xls
*.xlsx
*.doc
*.docx
*.csv
*.mongo
startup
/scripts/
*.mo
*.po
.env

*.po
*.mo
.ropeproject
*.js~
*.html~
*.tags
*.tags1
.env_local


node_modules
rdrf/rdrf/frontend/dist
rdrf/rdrf/static/js/*-bundle*.js

yarn_cache/

planning